body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #f5f5f5; }

.head {
  width: 100%;
  height: 1.39rem;
  background: #00a0f0; }
  .head .title {
    width: 100%;
    display: -webkit-flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box; }
    .head .title span:nth-child(1) {
      color: #87d5ff; }
    .head .title span:nth-child(2) {
      font-size: 14px; }
  .head .head_box {
    width: 100%;
    text-align: center; }
    .head .head_box p:nth-child(1) {
      padding-bottom: 20px;
      color: #fff;
      font-size: 14px; }
    .head .head_box p:nth-child(2) {
      width: 30%;
      height: 40px;
      margin: auto;
      border: 1px solid #fff;
      background: #fff;
      color: #13bcf5;
      border-radius: 16px;
      line-height: .4rem;
      font-weight: 800; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-silde {
    width: 100%;
    height: 100%; }

.content {
  width: 100%;
  flex: 1;
  overflow-y: scroll; }
  .content .nav {
    width: 100%;
    background: #fff; }
    .content .nav ul {
      display: -webkit-flex; }
      .content .nav ul li {
        width: 25%;
        text-align: center;
        padding: 8px; }
        .content .nav ul li i {
          font-size: .25rem;
          padding-top: 5px; }
        .content .nav ul li span {
          display: block;
          font-size: 12px;
          padding-top: 5px;
          padding-bottom: 5px; }
      .content .nav ul li:nth-child(2) span {
        width: 60px;
        position: relative;
        margin: auto; }
      .content .nav ul li:nth-child(2) .money {
        width: 38px;
        height: 5px;
        padding: 5px;
        line-height: 5px;
        text-align: center;
        background: #ed686b;
        color: #fff;
        position: absolute;
        top: 0px;
        right: -20px;
        border-radius: 8px 8px 8px 0px; }
  .content .banner {
    background: #fff;
    margin-top: 8px;
    position: relative; }
    .content .banner .banner_title {
      position: absolute;
      left: 35px;
      top: 19px; }
      .content .banner .banner_title p {
        text-align: center; }
      .content .banner .banner_title p:nth-child(1) {
        color: #fb5e4c;
        font-size: .15rem; }
      .content .banner .banner_title p:nth-child(2) {
        font-size: .12rem;
        color: #d3d3d3;
        padding-top: 8px; }
  .content .banner_img {
    width: 45%;
    height: auto;
    float: right;
    padding-right: 6px; }
    .content .banner_img img {
      width: 100%;
      height: auto; }
  .content .nume {
    margin-top: 10px;
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    display: -webkit-flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px; }
    .content .nume p:nth-child(1) i {
      color: #139dce; }
    .content .nume p:nth-child(2) {
      color: #999; }
  .content .main {
    width: 100%;
    border-top: 1px solid #eee;
    background: #fff; }
    .content .main .top {
      width: 100%;
      padding-top: 10px;
      display: -webkit-flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 600; }
      .content .main .top p:nth-child(2) {
        color: #04a3e7; }
    .content .main .list {
      width: 100%; }
      .content .main .list ul {
        display: -webkit-flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; }
        .content .main .list ul li {
          text-align: center; }
          .content .main .list ul li span {
            display: block; }
          .content .main .list ul li span:nth-child(1) {
            font-size: 18px; }
          .content .main .list ul li span:nth-child(2) {
            font-size: 12px;
            color: #999;
            padding-top: 8px;
            padding-bottom: 8px; }
          .content .main .list ul li .list_color {
            color: #d57960;
            font-weight: 600; }

.foot {
  width: 100%;
  height: .45rem;
  background: #fff;
  border-top: 1px solid #ccc; }
  .foot ul {
    display: -webkit-flex; }
    .foot ul li {
      width: 25%;
      text-align: center;
      color: #999;
      padding-top: 5px;
      bos-sizing: border-box; }
      .foot ul li i {
        font-size: .2rem; }
      .foot ul li span {
        display: block;
        font-size: 12px; }
    .foot ul .foot_color {
      color: #009fe9; }

.bigbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999; }

.alertbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 90%;
  height: 50%;
  z-index: 10000;
  border-radius: 8px;
  background: #fff; }
  .alertbox .alertbox_top {
    width: 100%;
    height: 103px;
    border-radius: 8px 8px 0px 0px;
    background: #fb5e4c;
    position: relative;
    text-align: center; }
    .alertbox .alertbox_top i:nth-child(1) {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: .25rem;
      color: #fff; }
    .alertbox .alertbox_top i:nth-child(2) {
      font-size: .55rem;
      color: #f2ab10;
      padding-top: 10px; }
    .alertbox .alertbox_top span {
      display: block;
      color: #fff;
      font-size: .22rem; }
  .alertbox .alertbox_bottom {
    width: 100%; }
    .alertbox .alertbox_bottom p {
      width: 100%;
      text-align: center;
      font-size: .14rem;
      padding: 10px 0px 10px 0px; }
    .alertbox .alertbox_bottom .alertbox_bottom_list {
      width: 75%;
      margin: auto; }
      .alertbox .alertbox_bottom .alertbox_bottom_list ul {
        display: -webkit-flex; }
        .alertbox .alertbox_bottom .alertbox_bottom_list ul li {
          width: 30%;
          text-align: center;
          border: 1px solid #ccc;
          margin-left: 5px;
          border-right-color: #999;
          border-bottom-color: #fff; }
          .alertbox .alertbox_bottom .alertbox_bottom_list ul li img {
            padding-top: 5px; }
          .alertbox .alertbox_bottom .alertbox_bottom_list ul li span {
            display: block;
            font-size: .14rem; }
  .alertbox p:last-child {
    width: 100%;
    text-align: center;
    color: #fb6b5a;
    font-size: .14rem;
    padding-top: 25px; }

/*# sourceMappingURL=style.css.map */
